/* Stylesheet for Dashboard. */
 * {
    background-color:seagreen;
 }

.dashboard-header {
    display: flex;
    justify-content: center;
    
}


 .header-text {
    padding-top: 10px;
    color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 90px;
    
 }

